<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tr.com.turkcellteknoloji.demo.layoutsdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tr.com.turkcellteknoloji.demo.layoutsdemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="tr.com.turkcellteknoloji.demo.layoutsdemo.LinearLayoutDemoActivity" >
        </activity>
        <activity
            android:name="tr.com.turkcellteknoloji.demo.layoutsdemo.LinearLayoutExampleActivity" >
        </activity>
        
    </application>

</manifest>
